bin
obj
tags
*.exe
*.dll
*.pdb
*.suo
*.pfx
*.psess
*.vsp
*;*
*~
SchemeBuilder
Makefile
packages
.nuget
.vs
/ArcFormats/Resources/HxNames-LLLJ.lst

!Tools/KrkrDump/
!Tools/KrkrDump/**/
!Tools/KrkrDump/**/*.exe
!Tools/KrkrDump/**/*.dll
!Tools/KrkrDump/**/*.json
!Tools/KrkrDump/**/*.md
